input[type="checkbox"] {
	display: none;
}
label[for="red"]{
	color: red;
	text-decoration: underline;
	margin: 20px;
}
label[for="green"]{
	color: green;
	text-decoration: underline;
	margin: 20px;
}
label[for="blue"]{
	color: blue;
	text-decoration: underline;
	margin: 20px;
}
span[class="red"] {
	background: red;
	color: white;
	border-radius: 5px;
	padding: 5px;
}
span[class="green"] {
	background: green;
	color: white;
	border-radius: 5px;
	padding: 5px;
}
span[class="blue"] {
	background: blue;
	color: white;
	border-radius: 5px;
	padding: 5px;
}
input#red:checked ~ span[class="red"]{  /* не понимаю почему пропадают все элементы*/
	display: none;
}
input#green:checked ~ span[class="green"]{  /*тоже самое*/
	display: none;
}
input#blue:checked ~ span[class="blue"]{  /*что я делаю не так*/
	display: none;
}
input#red:checked ~ label[for="red"]{  /*прозрачности тоже нет(((*/
	opacity: 0.3;
}
input#green:checked ~ label[for="green"]{  /*и тут(((*/
	opacity: 0.3;
}
input#blue:checked ~ label[for="blue"]{  /*и тут(((*/
	opacity: 0.3;
}