body{
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
}

.pricing-block{
	width: 250px;
	border: 10px;
	border-color: #ef8224;
	border-radius: 5px;
	background: white;
	box-shadow: 0 0 6px 3px #ddd;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;
}

.title{
	background-color: #ef8224;
	color: white;
	padding-top: 25px;
	padding-bottom: 25px;
}

.content{
	color: #32475a;
}

.value{
	color: #32475a;
	
}

sup{
	color: #32475a;
}

sub{
	color: #32475a;
}

.features{
	background-color: #888c94;
	list-style-type: none;
	margin: 0 auto 17px;
	padding: 0;
	width: 90%;
	font-size: 15px;
	text-align: left;
	text-transform: none;
}

.features > li{
	background: url(/Lession5/arrow.png);
	
}

.cta-btn{
	display: block;
	background-color: #ef8224;
	text-decoration: none;
	width: 85%;
	margin: auto;
	border-radius: 5px;
	font-weight: 200;
}